<div>
  <div>
    <input #trainerCountInput type="number" min="0">
    <button (click)="createTrainers(Number(trainerCountInput.value))">Create Trainers</button>
  </div>
  @if (createdTrainers.length != 0) {
    <button (click)="downloadZIPedQrCodes()">Download All</button>
    @for (createdTrainer of createdTrainers; track createdTrainer.id) {
      <created-trainer [trainer]="createdTrainer"
                       (qrCodeDownloadUrlEmitter)="handleQrCodeDownloadUrl($event)"></created-trainer>
    }
  }


</div>
