.trainerContainer {
  background: var(--secondary-color);
  display: grid;
  padding: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: stretch;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.trainerContainer * {
  color: var(--secondary-text-color);
}

button {
  background: var(--accent-color);
  cursor: pointer;
  padding: 0;
  border-radius: 10px;
}

button * {
  color: var(--accent-text-color);
}

button a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
