<div class="componentContainer">
  @if (!trainerUpdated) {
    <div class="closeButton" (click)="emitCloseEvent()">X</div>
    <h2>Modify your trainer</h2>
    <form>
      <Label>
        Name:
        <input [(ngModel)]="trainer().name" name="name">
      </Label>
      <div class="starterCreatures">
        @for (starterCreature of starterCreatures; track starterCreature.id) {
          <app-creature-frame (click)="selectCreature(starterCreature)" [creature]="starterCreature" [ngClass]="selectedCreature == starterCreature ? 'selected': ''"></app-creature-frame>
        }
      </div>
      <button (click)="sendTrainerUpdates()">Submit</button>
    </form>


  } @else {
    <div>Your data was updated!</div>
  }
</div>

